Repository percona/everest-operator, pull requests merged in 2025-03, with the labels that each got.

#667 EVEREST-1625 Fix PITR options are not available
  api/v1alpha1/databasecluster_types.go
  bundle/manifests/everest-operator.clusterserviceversion.yaml
  bundle/manifests/everest.percona.com_databaseclusters.yaml
  config/crd/bases/everest.percona.com_databaseclusters.yaml
  deploy/bundle.yaml
  internal/controller/databasecluster_controller.go
  internal/controller/providers/pg/applier.go
  internal/controller/providers/psmdb/applier.go
  internal/controller/providers/pxc/applier.go
Labels: test/e2e

#659 EVEREST-1711 Add DB creating state (#653)
  api/v1alpha1/databasecluster_types.go
  internal/controller/providers/pg/provider.go
  internal/controller/providers/psmdb/provider.go
  internal/controller/providers/pxc/provider.go
Labels: test/e2e

#688 EVEREST-1874 | support volume expansion for PXC
  api/v1alpha1/databasecluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/everest-operator.clusterserviceversion.yaml
  bundle/manifests/everest.percona.com_databaseclusters.yaml
  config/crd/bases/everest.percona.com_databaseclusters.yaml
  deploy/bundle.yaml
  internal/controller/common/helper.go
  internal/controller/common/helper_test.go
  internal/controller/databasecluster_controller.go
  internal/controller/providers/pxc/applier.go
  internal/controller/providers/pxc/provider.go
  tests/e2e/core/pxc/62-assert.yaml
  tests/e2e/core/pxc/62-create-cluster.yaml
  tests/e2e/core/pxc/63-assert.yaml
  tests/e2e/core/pxc/63-expand-storage.yaml
  tests/e2e/core/pxc/64-assert.yaml
Labels: test/e2e, test/e2e-core

#698 EVEREST-1877 | PSMDB Volume expansion
  bundle/manifests/everest-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  deploy/bundle.yaml
  internal/controller/databasecluster_controller.go
  internal/controller/providers/psmdb/applier.go
  internal/controller/providers/psmdb/provider.go
  tests/e2e/core/psmdb/61-assert.yaml
  tests/e2e/core/psmdb/61-expand-storage.yaml
  tests/e2e/core/psmdb/62-assert.yaml
Labels: test/e2e

#700 EVEREST-1927 | volume expansion for PG
  bundle/manifests/everest-operator.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  deploy/bundle.yaml
  internal/controller/databasecluster_controller.go
  internal/controller/providers/pg/applier.go
  internal/controller/providers/pg/provider.go
  tests/e2e/core/pg/81-assert.yaml
  tests/e2e/core/pg/81-expand-storage.yaml
  tests/e2e/core/pg/82-assert.yaml
Labels: test/e2e-core

#706 EVEREST-1883 update ubuntu images
  .github/workflows/checks.yml
Labels: test/e2e
