Repository percona/everest-operator, pull requests merged in 2025-07, with the labels that each got.

#759 EVEREST-1908 add PSMDB 1.20.1
  Makefile
  go.mod
  go.sum
  internal/controller/databasecluster_controller.go
  internal/controller/databaseclusterbackup_controller.go
  internal/controller/databaseclusterbackup_controller_test.go
  internal/controller/providers/psmdb/applier.go
  tests/e2e/core/psmdb/10-create-cluster.yaml
  tests/e2e/core/psmdb/20-restart-cluster.yaml
  tests/e2e/core/psmdb/50-assert.yaml
  tests/e2e/core/psmdb/50-create-single-node-cluster.yaml
  tests/e2e/core/psmdb/60-scale-cluster.yaml
  tests/e2e/core/pxc/62-assert.yaml
  tests/e2e/core/pxc/62-create-cluster.yaml
  tests/e2e/core/pxc/63-assert.yaml
  tests/integration/core/psmdb/10-assert.yaml
  tests/integration/core/psmdb/10-create-cluster.yaml
  tests/integration/core/psmdb/40-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/12-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/12-patch-cluster-cr.yaml
  tests/integration/features/backup_ondemand_psmdb/20-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/21-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/22-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/23-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/31-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/31-patch-cluster-status.yaml
  tests/integration/features/backup_ondemand_psmdb/40-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/41-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/42-assert.yaml
  tests/integration/features/backup_ondemand_psmdb/43-assert.yaml
  tests/integration/features/backup_scheduled_pitr_psmdb/12-assert.yaml
  tests/integration/features/backup_scheduled_pitr_psmdb/12-patch-cluster-cr.yaml
  tests/integration/features/backup_scheduled_pitr_psmdb/29-assert.yaml
  tests/integration/features/backup_scheduled_pitr_psmdb/29-patch-cluster-status.yaml
  tests/integration/features/backup_scheduled_psmdb/12-assert.yaml
  tests/integration/features/backup_scheduled_psmdb/12-patch-cluster-cr.yaml
  tests/integration/features/backup_scheduled_psmdb/29-assert.yaml
  tests/integration/features/backup_scheduled_psmdb/29-patch-cluster-status.yaml
  tests/integration/features/restore_from_backup_psmdb/10-create-cluster.yaml
  tests/integration/features/restore_from_backup_psmdb/19-assert.yaml
  tests/integration/features/restore_from_backup_psmdb/19-patch-cluster-status.yaml
  tests/vars.sh
Labels: test/e2e

#807 Adjust dependabot config
  .github/dependabot.yml
Labels: auto-update-base

#799 Update dependabot config
  .github/dependabot.yml
Labels: auto-update-base

#808 Update versions of deployment tools
  .github/workflows/build-push-images.yaml
  .github/workflows/ci.yml
  Makefile
  api/v1alpha1/podschedulingpolicy_types.go
  bundle.Dockerfile
  bundle/manifests/everest-operator.clusterserviceversion.yaml
  bundle/manifests/everest.percona.com_backupstorages.yaml
  bundle/manifests/everest.percona.com_databaseclusterbackups.yaml
  bundle/manifests/everest.percona.com_databaseclusterrestores.yaml
  bundle/manifests/everest.percona.com_databaseclusters.yaml
  bundle/manifests/everest.percona.com_databaseengines.yaml
  bundle/manifests/everest.percona.com_monitoringconfigs.yaml
  bundle/manifests/everest.percona.com_podschedulingpolicies.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/everest.percona.com_backupstorages.yaml
  config/crd/bases/everest.percona.com_databaseclusterbackups.yaml
  config/crd/bases/everest.percona.com_databaseclusterrestores.yaml
  config/crd/bases/everest.percona.com_databaseclusters.yaml
  config/crd/bases/everest.percona.com_databaseengines.yaml
  config/crd/bases/everest.percona.com_monitoringconfigs.yaml
  config/crd/bases/everest.percona.com_podschedulingpolicies.yaml
  deploy/bundle.yaml
Labels: auto-update-base

#817 EVEREST-2155 | Check if DataImportJob payload Secret exists before attempting to reconcile it
  internal/controller/dataimportjob_controller.go
Labels: test/e2e-data-importer

#821 Migrate tests from KIND to K3D Kubernetes cluster
  .github/workflows/build-push-images.yaml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .gitignore
  Makefile
  tests/e2e/data-importers/kind.conf.yaml
  tests/e2e/kuttl-data-importer.yaml
  tests/integration/kuttl-core.yaml
  tests/integration/kuttl-features.yaml
  tests/integration/kuttl-operator-upgrade.yaml
  tests/k3d_config.yaml
  tests/vars.sh
Labels: auto-update-base, test/e2e-data-importer

#825 Switch to `go tool` usage
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  Makefile
  api/v1alpha1/dataimporterspec/gen.go
  api/v1alpha1/dataimporterspec/spec.gen.go
  cmd/main.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: auto-update-base

#829 Create reusable GitHub actions
  .github/actions/install-kubernetes-tools/action.yaml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
Labels: auto-update-base

#832 Update Go to v1.24.5
  bundle/manifests/everest-operator.clusterserviceversion.yaml
  go.mod
Labels: auto-update-base

#835 EVEREST-2124 | e2e test improvements
  Makefile
  bundle/manifests/everest-operator-webhook-service_v1_service.yaml
  bundle/manifests/everest-operator.clusterserviceversion.yaml
  config/test/kustomization.yaml
  config/test/manager_deployment_patch.yaml
  config/test/manager_webhook_patch.yaml
  config/test/webhook_tls_secret.yaml
  config/webhook/service.yaml
  deploy/bundle.yaml
  scripts/cluster-cleanup.sh
  tests/e2e/data-importers/pg/02-assert.yaml
  tests/e2e/data-importers/pg/02-deploy-minio.yaml
  tests/e2e/data-importers/pg/03-upload-backup-data.yaml
  tests/e2e/data-importers/pg/10-assert.yaml
  tests/e2e/data-importers/pg/10-create-cluster.yaml
  tests/e2e/data-importers/pg/12-assert.yaml
  tests/e2e/data-importers/pg/30-cleanup.yaml
  tests/e2e/data-importers/psmdb/02-assert.yaml
  tests/e2e/data-importers/psmdb/02-deploy-minio.yaml
  tests/e2e/data-importers/psmdb/03-upload-backup-data.yaml
  tests/e2e/data-importers/psmdb/10-assert.yaml
  tests/e2e/data-importers/psmdb/10-create-cluster.yaml
  tests/e2e/data-importers/psmdb/12-assert.yaml
  tests/e2e/data-importers/psmdb/30-cleanup.yaml
  tests/e2e/data-importers/pxc/02-assert.yaml
  tests/e2e/data-importers/pxc/02-deploy-minio.yaml
  tests/e2e/data-importers/pxc/03-upload-backup-data.yaml
  tests/e2e/data-importers/pxc/10-assert.yaml
  tests/e2e/data-importers/pxc/10-create-cluster.yaml
  tests/e2e/data-importers/pxc/12-assert.yaml
  tests/e2e/data-importers/pxc/30-cleanup.yaml
  tests/e2e/data-importers/pxc/31-assert.yaml
  tests/e2e/kuttl-data-importer.yaml
  tests/integration/core/pg/10-create-cluster.yaml
  tests/integration/core/pg/40-create-single-node-cluster.yaml
  tests/integration/core/psmdb/10-create-cluster.yaml
  tests/integration/core/psmdb/40-create-single-node-cluster.yaml
  tests/integration/core/pxc/10-create-cluster.yaml
  tests/integration/core/pxc/40-create-single-node-cluster.yaml
  tests/integration/features/psp_custom_pg/10-create-cluster.yaml
  tests/integration/features/psp_custom_psmdb/10-create-cluster.yaml
  tests/integration/features/psp_custom_pxc/10-create-cluster.yaml
  tests/integration/features/psp_default_pg/10-create-cluster.yaml
  tests/integration/features/psp_default_psmdb/10-create-cluster.yaml
  tests/integration/features/psp_default_pxc/10-create-cluster.yaml
  tests/testdata/minio/deploy.yaml
Labels: test/e2e-data-importer
